annotated-doc
annotated-types
anyio
attrs
av
Babel
bcrypt
blinker
Brlapi
Brotli
certifi
chardet
click
cloud-init
colorama
command-not-found
configobj
cryptography
cupshelpers
dbus-python
defer
distro
distro-info
duplicity
fastapi
fasteners
h11
httplib2
idna
Jinja2
jsonpatch
jsonpointer
jsonschema
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
libarchive-c
louis
Mako
markdown-it-py
MarkupSafe
mdurl
meson
monotonic
mutagen
numpy
oauthlib
olefile
OpenEXR
packaging
paramiko
pemmican
pexpect
picamera2
pidng
piexif
pillow
ply
ptyprocess
pycairo
pycryptodomex
pycups
pydantic
pydantic_core
Pygments
PyGObject
PyJWT
PyNaCl
pyparsing
pyrsistent
pyserial
python-apt
python-dateutil
python-debian
python-prctl
pytz
pyudev
pyxdg
PyYAML
requests
rich
setuptools
simplejpeg
six
ssh-import-id
starlette
systemd-python
tqdm
typing-inspection
typing_extensions
ubuntu-drivers-common
ubuntu-pro-client
ufw
unattended-upgrades
urllib3
uvicorn
videodev2
wadllib
websockets
wheel
xdg
xkit
yt-dlp
